/**/.idea
/**/*.iml
/**/target/
/**/build/
/**/bower_components/
/**/node_modules/
/**/.classpath
/**/.project
/**/.settings/
/*/**/.gitignore
/**/npm-debug.log
/management-ui/management-web/null*.csv
/**/.metadata
/**/.recommenders

/**/bin/
/**/.DS_Store
/docker/**/*.war
/docker/**/Dockerfile.*
